# +---------------+
# + IntelliJ IDEA +
# +---------------+
.idea
!.idea/runConfigurations
*.iws
*.iml
*.ipr
/out/

# +------+
# + Java +
# +------+
*.class
*.jar

# JVM crash logs
# http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# +--------+
# + Gradle +
# +--------+
.gradle
/build/
