spring:
  application:
    name: communikey
  jackson:
    serialization:
      write_dates_as_timestamps: false
  mvc:
    favicon:
      enabled: false

security:
  basic:
    enabled: false

communikey:
  security:
    root:
      login: root
      email: cckey_root@communicode.de
      password: password

server:
  port: 8080
  compression:
    enabled: true
    mime-types: application/json

logging:
  level:
    de:
      communicode:
        communikey: debug