<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="passwords-list">
    <div class="btn-group pull-right" role="group">
      <a class="btn btn-outline-primary" th:href="@{'/passwords/new'}">New Password</a>
    </div>
    <table class="table table-striped" id="passwords_list">
      <thead>
        <tr>
          <th>ID</th>
          <th>Value</th>
          <th>Creation</th>
        </tr>
      </thead>
      <tbody>
        <!--/*@thymesVar id="passwords" type="java.lang.Iterable<de.communicode.communikey.domain.Password>"*/-->
        <tr th:each="password : ${passwords}">
          <!--/*@thymesVar id="password" type="de.communicode.communikey.domain.Password"*/-->
          <td class="message" th:text="${password.id}"></td>
          <td class="message" th:text="${password.value}"></td>
          <td class="message" th:text="${#dates.format(password.creationTimestamp, 'yyyy-mm-dd hh:mm:ss')}"></td>
          <td>
            <a th:href="@{'/passwords/{id}/edit'(id=${password.id})}" class="edit"
               th:attr="name=${password.value}">
              <span class="fa-stack">
                <i class="fa fa-pencil fa-lg"></i>
              </span>
            </a>
            <a th:href="@{'/passwords/{id}/delete'(id=${password.id})}" class="delete"
               th:attr="name=${password.value}">
              <span class="fa-stack">
                <i class="fa fa-trash-o fa-lg"></i>
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</html>