<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="passwords-new">
    <form method="post" name="password_form" id="password_form" role="form">
      <div class="form-group row">
        <label for="password_value" class="col-sm-2 col-form-label">Value</label>
        <div class="col-sm-10">
          <input th:field="${newPasswordForm.value}" type="password" class="form-control" id="password_value" th:placeholder="${password.value}"/>
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </div>
      </div>
      <div class="pull-right" role="group">
        <button class="btn btn-outline-primary" type="submit">Create</button>
        <a th:href="@{/passwords}">
          <div class="btn btn-outline-secondary">Cancel</div>
        </a>
      </div>
    </form>
  </div>
</html>