<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="base-sidebar">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">communikey</a>
        </li>
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li>
          <a th:href="@{/passwords}">Passwords</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</html>