<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>communikey - Access Denied</title>
    <th:block th:include="fragments/base/head :: base-head"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/404.css}" href="../../static/css/404.css"/>
  </head>
  <body>
    <div class="container-404">
      <div class="wrapper-404">
        <div>
          <img class="tag-404" src="../../static/svg/404-tag.svg" th:src="@{/svg/403-tag.svg}"/>
        </div>
        <div class="shadow-404"></div>
        <h1>Access denied!</h1>
        <p>
          You are not allowed to view this page.
        </p>
      </div>
    </div>
  </body>
</html>