<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <title>Passwords</title>
  <th:block th:include="fragments/base/head :: base-head"/>
  <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css"/>
  <body>
    <div id="wrapper">
      <th:block th:include="fragments/base/sidebar :: base-sidebar"/>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <th:block th:include="fragments/passwords/edit :: passwords-edit"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>